body {
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;

	#root {
		width: 80%;
		display: flex;
		justify-content: center;
	}
}

h1 {
	color: rgb(255, 162, 193);
	font-family: 'Indie Flower', cursive;
}
